body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

